USE [master]
GO
/****** Object:  Database [RealEstateDB]    Script Date: 7/9/2026 2:25:42 AM ******/
CREATE DATABASE [RealEstateDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RealEstateDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RealEstateDB]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 7/9/2026 2:25:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Notes] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 7/9/2026 2:25:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contracts](
	[ContractID] [int] IDENTITY(1,1) NOT NULL,
	[PropertyID] [int] NULL,
	[ClientID] [int] NULL,
	[ContractType] [nvarchar](20) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[Status] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 7/9/2026 2:25:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[ContractID] [int] NULL,
	[Amount] [decimal](18, 2) NULL,
	[PaymentDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Properties]    Script Date: 7/9/2026 2:25:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Properties](
	[PropertyID] [int] IDENTITY(1,1) NOT NULL,
	[PropertyType] [nvarchar](50) NULL,
	[Location] [nvarchar](100) NULL,
	[Price] [decimal](18, 2) NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PropertyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/9/2026 2:25:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Role] [nvarchar](20) NULL,
	[Photo] [nvarchar](100) NULL,
 CONSTRAINT [PK__Users__1788CCAC0BBB7C4C] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientID], [FullName], [Phone], [Notes]) VALUES (1, N'امجد صادق عبدة ناجي', N'778480008', NULL)
INSERT [dbo].[Clients] ([ClientID], [FullName], [Phone], [Notes]) VALUES (2, N'البراء فهد محمد صالح الهريسي', N'778386764', NULL)
INSERT [dbo].[Clients] ([ClientID], [FullName], [Phone], [Notes]) VALUES (3, N'عبداللة  احمد الحبيشي', N'778480008', N'')
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Contracts] ON 

INSERT [dbo].[Contracts] ([ContractID], [PropertyID], [ClientID], [ContractType], [StartDate], [EndDate], [TotalAmount], [Status]) VALUES (1, 1, 1, N'ايحار', CAST(N'2024-01-01' AS Date), CAST(N'2024-12-31' AS Date), CAST(4000000.00 AS Decimal(18, 2)), N'ملغي')
INSERT [dbo].[Contracts] ([ContractID], [PropertyID], [ClientID], [ContractType], [StartDate], [EndDate], [TotalAmount], [Status]) VALUES (2, 2, 1, N'إيجار', CAST(N'2024-01-01' AS Date), CAST(N'2024-12-31' AS Date), CAST(420000.00 AS Decimal(18, 2)), N'معلق')
INSERT [dbo].[Contracts] ([ContractID], [PropertyID], [ClientID], [ContractType], [StartDate], [EndDate], [TotalAmount], [Status]) VALUES (3, 6, 2, N'بيع', CAST(N'2023-06-01' AS Date), CAST(N'2023-06-01' AS Date), CAST(850000.00 AS Decimal(18, 2)), N'معلق')
SET IDENTITY_INSERT [dbo].[Contracts] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [ContractID], [Amount], [PaymentDate]) VALUES (1, 2, CAST(300000.00 AS Decimal(18, 2)), CAST(N'2023-06-01' AS Date))
INSERT [dbo].[Payments] ([PaymentID], [ContractID], [Amount], [PaymentDate]) VALUES (10, 1, CAST(700000.00 AS Decimal(18, 2)), CAST(N'2026-01-22' AS Date))
INSERT [dbo].[Payments] ([PaymentID], [ContractID], [Amount], [PaymentDate]) VALUES (11, 7, CAST(60000.00 AS Decimal(18, 2)), CAST(N'2026-01-22' AS Date))
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Properties] ON 

INSERT [dbo].[Properties] ([PropertyID], [PropertyType], [Location], [Price], [Status]) VALUES (1, N'فلة ', N'اب  شارع تعز', CAST(500000.00 AS Decimal(18, 2)), N'متاح')
INSERT [dbo].[Properties] ([PropertyID], [PropertyType], [Location], [Price], [Status]) VALUES (2, N'عمارة', N'القاعدة-شارع الثلاثين', CAST(200000.00 AS Decimal(18, 2)), N'مباع')
INSERT [dbo].[Properties] ([PropertyID], [PropertyType], [Location], [Price], [Status]) VALUES (6, N'فلة', N'اب  شارع تعز', CAST(500000.00 AS Decimal(18, 2)), N'متاح')
SET IDENTITY_INSERT [dbo].[Properties] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role], [Photo]) VALUES (1, N'admin', N'123456', N'1', NULL)
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role], [Photo]) VALUES (2, N'amgad', N'123456', NULL, N'C:\Users\amgad\Pictures\amgadcv.png')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role], [Photo]) VALUES (3, N'albra', N'123456', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD FOREIGN KEY([PropertyID])
REFERENCES [dbo].[Properties] ([PropertyID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([ContractID])
REFERENCES [dbo].[Contracts] ([ContractID])
GO
USE [master]
GO
